[submodule "android"]
	path = android
	url = https://github.com/leotfh/optiga-nbt-example-challenge-response-android
[submodule "firmware/optiga-nbt-esphome"]
	path = firmware/optiga-nbt-esphome
	url = https://github.com/leotfh/optiga-nbt-esphome
[submodule "firmware/nbt-auth"]
	path = firmware/nbt-auth
	url = https://github.com/leotfh/nbt_auth
[submodule "firmware/nbt_improv"]
	path = firmware/nbt_improv
	url = https://github.com/leotfh/nbt_improv/
